[Unit]
Description=nof1-backend service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1
WorkingDirectory=/home/nof1-backend
Environment=ADMIN_PASSWORD=changeme
Environment=AWS_ACCESS_KEY_ID=changeme
Environment=AWS_S3_BUCKET=changeme
Environment=AWS_REGION=changeme
Environment=AWS_SECRET_ACCESS_KEY=changeme
Environment=HTTP_PORT=80
Environment=DB_FILE=/home/nof1-backend/db.sqlite3
Environment=HTTPS_CERT_FILE=/etc/letsencrypt/live/n-of-1.club/fullchain.pem
Environment=HTTPS_KEY_FILE=/etc/letsencrypt/live/n-of-1.club/privkey.pem
Environment=STATIC_DIR=/home/nof1-backend/gopath/src/bitbucket.org/danstutzman/nof1-backend/static
ExecStart=/home/nof1-backend/nof1-backend
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
